.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 90vh;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.home-heading {
  font-size: 25px;
  color: white;
}
.home-desc {
  font-size: 18px;
  color: white;
}
.home-btn {
  background-color: rgb(85, 85, 241);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    padding: 30px;
  }
  .home-container {
    width: 50%;
    justify-content: center;
  }
  .home-heading {
    font-size: 40px;
  }
  .home-desc {
    font-size: 25px;
  }
  .home-btn {
    padding: 20px;
    font-size: 20px;
  }
}
